<div class="row">
    <table class="u-full-width">
        <tbody>
            <tr>
                <td class="celda1">
                    <a ng-link="['OneProduct',{id: product.id}]">
                        <img
                                ng-src="{{ ::obtenerImagen(product.photos[0]) }}"
                                width="80"
                                height="100">
                    </a>
                </td>
                <td class="celda2">
                    <div>{{ ::product.name }}</div>
                    <div>
                        <small>
                            {{ ::product.category.name }}
                        </small>
                    </div>
                </td>
                <td class="celda3">
                    <button ng-link="['OneProduct',{id: product.id}]">Detalle</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>